.callofduty{
    background-image: url("https://cdn.mos.cms.futurecdn.net/2WvkBYCfjuGwUtxPYmexUg.jpg");
    text-align: center;
    min-width: 100%;
    min-height: 100%;
    position: fixed;
    background-size: cover;
    background-position: center;    
}

.parent-div {
    display: flex;
    justify-content: center;
     /* margin-top: 50%; */
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.top-bar{
    display: flex;
      background-color: red;
      height: 100px;
      color: gold;
      width: 100%;
      margin-bottom: 20px;
}
.header {
    margin:auto;
}
