.callofduty{
    background-image: url("https://cdn.mos.cms.futurecdn.net/2WvkBYCfjuGwUtxPYmexUg.jpg");
    text-align: center;
    min-width: 100%;
    min-height: 100%;
    position: fixed;
    background-size: cover;
    background-position: center;
    
}
