.home-body {
  background-image: url('../static/TestImg.jpg');
  background-size: cover;
  /* background-color: blue; */
  /* height:100%; */
  /* color: red; */
}

.behind-button {
  background-color: transparent;
  margin-left: 200px;
  margin-bottom: 50px;
  border: none;
}


/* .Featured {
    margin: auto;
    position:absolute; 
    left: 45%; 
    bottom:0;
    right: 50%;
    width: 10%; 
}
.FlexBox {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 100%;
    margin-bottom: 0;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.footer {

    background-color: red;
    color: white;
    text-align: center;
  }

  .some-page-wrapper {
    margin: 15px;
    background-color: red;
  }
  
  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
  
  .column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
  }
  
  .blue-column {
    background-color: blue;
    height: 100px;
  }
  
  .green-column {
    background-color: green;
    height: 100px;
  } */
